services:
  devcontainer:
    env_file:
      - .env
      - path: ../.local/.env
        required: false
    build:
      context: .
      dockerfile: Dockerfile
    init: true
    volumes:
      - WORKSPACES:${WORKSPACES}
volumes:
  WORKSPACES:
